---
export interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/17-11.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#000000" />
  <meta name="author" content="Jose Manuel Arias Hernández" />
  <meta name="copyright" content="Propietario del copyright" />
  <meta name="google-site-verification" content="ZOOgFRrkpVT037dfbMQZbsThO41EuXYWyQG70ekfxYk" />

  {/* Open Graph */}
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:site_name" content="Transportation of america" />

  {/* Twitter Cards */}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />

  {/* Canonical */}
  <link rel="canonical" href={url} />
</head>
